.cfg
dotfiles
.cshrc
.dbus
.fonts.conf
.git-credentials
.gitconfig
.gnupg
.histfile
.mozilla
.pki
.sh_history
.ssh
.thunderbird
.viminfo
.vscode-oss
.wpa_cli_history
.zcompdump
.zprofile
.zsh_history
.zshrc-old
.zshrc.new
.zshrc.zwc
Desktop
Downloads
Nextcloud
hyprpaper.conf
wallpapers

